.formulario-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-field {
    width: 100%;
  }
  
  .botones-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }
  